section p {
    @include font (15px, center, $fontp);
    background: none;
    line-height: 30px;
    padding: 10px;
}

form {
    width: 400px;
}

.div-form {
    margin-top: 90px;
    margin-bottom: 100px;
}

.botons {
    background: none;
    margin-right: 10px;
    margin-top: 15px;
    display: inline-block;
    color: $colorwhite;
    border: 1px solid $colorwhite;
    border-radius: 5px;
    margin-left: 2px;
    padding: 5px;
}

.botons:hover {
    background-color: #808B96;
    color: $colorwhite;
}