section p {
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
}

form {
    width: 400px;
}

.div-form {
    margin-top: 90px;
    margin-bottom: 100px;
}

.botons {
    background: none;
    margin-right: 10px;
    margin-top: 15px;
    display: inline-block;
}

