footer {
    margin-top: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: $colorblack;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    position: relative;
    @include wh (40px, 40px);
    margin: 10px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.icon:hover {
    background-color: #808B96;
    box-shadow: 0 0 10px $colorbeige;
}

.icon i {
    color: $colorwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}