#fontsize {
    font-size: 30px;
}

.hover-beige :hover {
    color: $colorbeige;
}

.header-text {
    @include font (15px, center, $fontmain);
    color: $colorwhite;
    padding-top: 3px;
    margin: 0%;
    height: 18px;
}

.img-logo {
    width: 310px;
    margin-left: 10px;
}

nav ul li a {
    font-family: $fontmain;
}

#scale:hover {
    transform: scale(1.08);
}

.div-mt {
    margin-top: 40px;
}

.div-mr {
    margin-left: 70px;
}



