@include responsive('768'){
    .img-logo {
        width: 200px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 0%;
        margin: 30px;
        margin-bottom: 40px;

        &-item:nth-child(8) {
            grid-row-start: span 1;
        }
    }

    .header-text {
        font-size: 13px;
        margin-bottom: 10px;
    }

    #fontsize {
        font-size: 25px;
    }

    .div-mt {
        margin-top: 10px;
    }

    .img-cover {
        width: 70%;
    }

    section p {
        font-size: 15px;
        text-align: justify;
    }

    .div-form {
        margin-top: 50px;
    }

    section h1 {
        font-size: 30px;
    }
    

    h3 {
        font-size: 30px;
    }

    .div-logo {
        width: 100%;
    }

    h2 {
        font-size: 15px;
    }

    section article p {
        font-size: 13;
        margin-left: 10px;
        margin-right: 10px;   
    }

    .w0 {
        width: 50px;
    }

    .img-cover-music {
        margin-bottom: 100px;
        margin-top: 5px;
    }

    footer {
        margin-top: 0;
    }
    
    .text-bio {
        margin-right: 10px;
    }

    .text-bio2 {
        margin-left: 10px;
    }

    .img-main {
        display: none;
    }

    .article-bio2 {
        margin-left: 10px;
    }

    .icon {
        @include wh (30px, 30px);
    }

    .icon i {
        font-size: 1.3rem
    }

    .a-error {
        width: 90px;
    }

    .text--big {
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .carrusel {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    form {
        width: 70%;
    }

}

@include responsive('1060') {
    .div-mr {
        margin-left: 50px;
    }

    .text--big {
        font-size: 65px;
        margin-right: 50px;
    }
}

@include responsive('980') {
    .div-mr {
        margin-left: 0px;
    }
    .text-big {
        margin-right: 30px;   
     }
}

@include responsive('1344') {
    .article-bio {
        margin-left: 100px;
    }
}

@include responsive('1295') {
    .article-bio {
        margin-left: 80px;
    }
    .img-main {
        margin-left: 50px;
    }
}

@include responsive('1245') {
    .article-bio {
        margin-left: 50px;
        margin-top: 50px;
    }
    .img-main {
        margin-left: 30px;
    }
}

@include responsive('1132') {
    .article-bio {
        margin-left: 30px;
        margin-top: 20px;
    }
    .img-main {
        margin-left: 10px;
    }
}

@include responsive('1051') {
    .article-bio {
        margin-left: 10px;
    }
    .img-main {
        margin-left: 0px;
    }
}

@include responsive('1024') {
    .img-main {
        margin-top: 100px;
    }
    .article-bio2 {
        margin-top: 50px;
    }
    .img-finneas {
        margin-right: 100px;
    }
}

@include responsive('971') {
    .img-main {
        width: 0;
    }

    .img-finneas {
        display: none;
    }

    .article-bio {
        margin-right: 10px;
    }
    
    .article-bio2 {
        margin-right: 0;
    }

    .m0 {
        display: none;
    }
}

