.img-cover {
    @include wh (87%, auto);
    border: solid 2px $colorwhite;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.post {
    position: relative;
}

.post:hover .post-s {
    height: 100%;
}

.post img {
    display: inline-block;
}

.post-s {
    @include wh (100%, 0);
    background: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease-in-out;
    flex-direction: column;
}

.post-s h2 {
    font-family: $fontmain;
    font-size: 17px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-s p {
    line-height: 1px;
    font-family: $fontp;
    font-size: 0.7em;
    color: $colorwhite;
    border: solid 1px $colorwhite;
    border-radius: 8px;
}

.link:hover {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(231, 233, 148, 1) 100%);
}